@import "_variables";

.mini-footer{
  background: #fff;
  color: $body-font-color;
}

.decidim-logo{
  // width: 100px;
  display: inline-block;
  padding-left: 1em;
}

//Main footer
.main-footer{
  background-color: $gradient-start;
  background: linear-gradient(90deg, $gradient-start 0%, $gradient-start 0%, $gradient-end 100%);

  color: #fff;

  a{
    color: #fff;
  }
}
