@import "variables";
@import "coincidim/utils/mixins";

.mini-footer{
    background: $body-background-color;
    color: $body-font-color;
}

.footer-transition {
  @include gradient-background($gradient-start, $gradient-end);
  @include border-waves(transparent, $body-background-color, $wave-size);
}

.decidim-logo{
  // width: 100px;
  display: inline-block;
  padding-left: 1em;
}

//Main footer
.main-footer{
  @include gradient-background($gradient-start, $gradient-end);
  @include border-waves($body-background-color, transparent, $wave-size, "up");
  margin-left: -($wave-size);
  padding-left: $wave-size;

  color: #fff;

  a {
    color: #fff;
  }
}
.main-footer a:hover, .mini-footer a:hover {
    color: $link-color;
}