@import "variables";
@import "coincidim/utils/mixins";

.home-section:nth-of-type(2n+1) {
	background-color: $body-background-color;
}

.home-section {
	&.hero, &.highligted-content-banner {
	  @include border-waves($body-background-color, transparent, 40px, "up");
	  margin-left: -15px;
	  padding-left: 15px;

	  &::after {
	  	background-color: transparent;
	  }

	  >.hero__container, >.highligted-content-banner__container {
	  	@include border-waves(transparent, $body-background-color, 40px, "down");
	  }
	}
}
